[Unit]
Description=Refresh Server Traffic Monitor every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
Unit=server-traffic-monitor-data.service

[Install]
WantedBy=timers.target
